{% extends "master.html" %}
{% block title %}About us{% endblock title %}
{% load static %}
{% block content %}

<main>
    <div class="about-details section-padding30">
        <div class="container">
            <div class="row">
                <div class="offset-xl-1 col-lg-8">
                    <div class="about-details-cap mb-50">
                        <h1>{{sys.slogan}}</h1>
                         </div>
                    
                        <h4>Name: {{sys.sys_name}} </h4>
                        <h4>Email: {{sys.email}} </h4>
                        <h4>Mobile No: {{sys.mobile}} </h4>
                        <h4>Address: {{sys.address}} </h4>

                </div>
            </div>
        </div>
    </div>
    <!--? About Area Start-->
  
    <!-- About Area End-->
    <!-- Team Start -->
    <div class="team-area section-padding30">
        <div class="container">
            <div class="row">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittles mb-70">
                        <span>Our Professional members </span>
                        <h2>Our Team Mambers</h2>
                    </div> 
                </div>
            </div>
            <div class="row">
               {% for tea in team %}
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{{tea.image1.url}}" height = "350px">
                        </div>
                        <div class="team-caption">
                            <h3>{{tea.name}}</h3>
                            <span>{{tea.proff}}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team End -->
    <!-- banner-last Start -->
    <div class="banner-area gray-bg pb-90">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-10">
                    <div class="banner-one">
                        <img src="{% static "assets/img/gallery/body_card3.png" %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- banner-last End -->
</main>

{% endblock content %}